In [2]:
#import library
import pandas as pd

In [3]:
#load the dataset
df = pd.read_csv('Data_set/Jeddah Hotel Bookings(in).csv')

In [4]:
df

,booking_id,booking_date,check_in_date,check_out_date,hotel_type,room_type,adults,children,nights,price_per_night,total_amount,booking_status
0,JED0001,1/11/2025,1/14/2025,1/19/2025,City,Deluxe,3,1,5,590,2950,Cancelled
1,JED0002,12/10/2025,12/31/2025,1/2/2026,Resort,Deluxe,2,3,2,994,1988,Checked-out
2,JED0003,9/14/2025,9/29/2025,10/5/2025,City,Deluxe,2,3,6,742,4452,Checked-out
3,JED0004,6/28/2025,7/13/2025,7/16/2025,City,Standard,2,2,3,385,1155,Cancelled
4,JED0005,1/15/2025,1/21/2025,1/24/2025,City,Suite,1,1,3,1239,3717,Checked-out
...,...,...,...,...,...,...,...,...,...,...,...,...
995,JED0996,2/22/2025,3/23/2025,3/28/2025,City,Standard,2,2,5,413,2065,Checked-out
996,JED0997,12/24/2024,1/5/2025,1/10/2025,City,Standard,2,0,5,371,1855,Checked-out
997,JED0998,12/17/2024,12/22/2024,12/25/2024,City,Suite,1,0,3,957,2871,Checked-out
998,JED0999,12/31/2025,1/20/2026,1/26/2026,Resort,Family,2,0,6,869,5214,Checked-out
999,JED1000,10/1/2025,10/21/2025,10/28/2025,City,Standard,1,0,7,369,2583,Checked-out

In [5]:
df.head()

,booking_id,booking_date,check_in_date,check_out_date,hotel_type,room_type,adults,children,nights,price_per_night,total_amount,booking_status
0,JED0001,1/11/2025,1/14/2025,1/19/2025,City,Deluxe,3,1,5,590,2950,Cancelled
1,JED0002,12/10/2025,12/31/2025,1/2/2026,Resort,Deluxe,2,3,2,994,1988,Checked-out
2,JED0003,9/14/2025,9/29/2025,10/5/2025,City,Deluxe,2,3,6,742,4452,Checked-out
3,JED0004,6/28/2025,7/13/2025,7/16/2025,City,Standard,2,2,3,385,1155,Cancelled
4,JED0005,1/15/2025,1/21/2025,1/24/2025,City,Suite,1,1,3,1239,3717,Checked-out

In [6]:
df.columns

Index(['booking_id', 'booking_date', 'check_in_date', 'check_out_date',
       'hotel_type', 'room_type', 'adults', 'children', 'nights',
       'price_per_night', 'total_amount', 'booking_status'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   booking_id       1000 non-null   object
 1   booking_date     1000 non-null   datetime64[ns]
 2   check_in_date    1000 non-null   datetime64[ns]
 3   check_out_date   1000 non-null   datetime64[ns]
 4   hotel_type       1000 non-null   object
 5   room_type        1000 non-null   object
 6   adults           1000 non-null   int64
 7   children         1000 non-null   int64
 8   nights           1000 non-null   int64
 9   price_per_night  1000 non-null   int64
 10  total_amount     1000 non-null   int64
 11  booking_status   1000 non-null   object
dtypes: datetime64[ns](3), int64(5), object(4)
memory usage: 93.9+ KB

In [8]:
df.isnull().sum()

booking_id         0
booking_date       0
check_in_date      0
check_out_date     0
hotel_type         0
room_type          0
adults             0
children           0
nights             0
price_per_night    0
total_amount       0
booking_status     0
dtype: int64

In [11]:
df['booking_date'] = pd.to_datetime(df['booking_date'], dayfirst=True, format='mixed')
df['check_in_date'] = pd.to_datetime(df['check_in_date'], dayfirst=True, format='mixed')
df['check_out_date'] = pd.to_datetime(df['check_out_date'], dayfirst=True, format='mixed')

In [13]:
df = df.drop_duplicates()

In [14]:
!pip install mysql-connector-python sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\skill\anaconda3\lib\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in c:\users\skill\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\skill\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\skill\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [17]:
import mysql.connector
from sqlalchemy import create_engine

try:
    db = mysql.connector.connect(
        host="localhost",
        username="root",
        password="password",
        database="hotel_model"
    )
    print("Connection successful!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Connection successful!

In [18]:
engine = create_engine('mysql+mysqlconnector://root:password@localhost/hotel_model')
    
    # Write DataFrame to MySQL
table_name = "hotel_bookings"
df.to_sql(table_name, con=engine, if_exists='replace', index=False)

1000

In [20]:
# Read back sample
pd.read_sql("SELECT * FROM hotel_bookings LIMIT 5;", engine)

,booking_id,booking_date,check_in_date,check_out_date,hotel_type,room_type,adults,children,nights,price_per_night,total_amount,booking_status
0,JED0001,2025-11-01,2025-01-14,2025-01-19,City,Deluxe,3,1,5,590,2950,Cancelled
1,JED0002,2025-10-12,2025-12-31,2026-02-01,Resort,Deluxe,2,3,2,994,1988,Checked-out
2,JED0003,2025-09-14,2025-09-29,2025-05-10,City,Deluxe,2,3,6,742,4452,Checked-out
3,JED0004,2025-06-28,2025-07-13,2025-07-16,City,Standard,2,2,3,385,1155,Cancelled
4,JED0005,2025-01-15,2025-01-21,2025-01-24,City,Suite,1,1,3,1239,3717,Checked-out